version: '3.8'
services:
  api:
    image: immudb-docker-img
    ports:
      - "8080:8080"
    networks:
      - mynetwork
  fe:
    image: immu-solution-fe
    restart: always
    depends_on:
      api:
        condition: service_started
    ports:
      - "8081:3000"
    networks:
      - mynetwork
networks:
  mynetwork:
    name: mynetwork


